LLM_SERVICE=GROQ  # or OPENAI, CLAUDE, GEMINI
LLM_SERVICE_KEY=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

#put the model you want to use, here
#MODEL=llama-3.3-70b-versatile
MODEL=meta-llama/llama-4-maverick-17b-128e-instruct # or any other model supported by the selected service

PORT=8000
HOST=0.0.0.0
